*{margrin:0;
padding:0;
Box-sizing:border-box;
  Font-family: tahoma;}

body{
  background: White;
  color:#806B63;
  padding-top:65px;
  text-align: center;
}

.customerreviews{
  background-image:url(<iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450" src="https://embed.figma.com/design/fIM4olMkymtdXb5f5tLn4h/Untitled?embed-host=share" allowfullscreen></iframe>);
 position:relative;
 }
.custom-footer{width:100%;
  margin:0;
  padding:0;
position:realtive;
  bottom:0;
  left:0;
  }

.custom-footer img{
  width:100%;
  height:40%;
  dispaly:block;
  
}

img{
  width:80%;
  height:40%;
  dispaly:block;
  
  
}
    
